<div ng-controller="AlbumsController" class="text-center">
  <header class="albums-header">
    <h2>Music library</h2>
    <h4>There are {{count.value}} albums in library.</h4>
    <input class="search hidden-xs hidden-sm" ng-model="query" type="text" placeholder="Type to search your favorite album..." ng-keyup="setNavigation()">
    <input class="search hidden-md hidden-lg" ng-model="query" type="text" placeholder="Type to search your favorite album..." ng-change="setDelay()">
    <a class="btn btn-success" href="#/add" role="button">Add new album</a>  
  </header>
  <ul class="nav nav-pills albums-nav hidden-xs" ng-hide="filteredAlbums.length === 0">
    <li ng-repeat="page in pages" ng-click="setPage(page)" ng-class="{'active':pageNumber == page}">
      {{page}}
    </li>
  </ul>
  <div class="hidden-sm hidden-md hidden-lg page-search">
    <p>Page number {{pageNumber}}. Go to page:</p>
    <input type="number" placeholder="Go to page..."  min="1" ng-model="pageToGo" ng-change="setPage(pageToGo)">
  </div>
  <p ng-hide="filteredAlbums.length === 0 || lastPage">
    <button class="btn btn-primary" ng-disabled="pageNumber === 1" ng-click="setPage(pageNumber - 1)">Prev.</button>
      Albums from {{limitStart + 1}} to {{limit}}
    <button class="btn btn-primary" ng-click="setPage(pageNumber + 1)">Next</button></p>
  <p ng-hide="filteredAlbums.length === 0 || !lastPage">
    <button class="btn btn-primary" ng-click="setPage(pageNumber - 1)">Prev.</button>
      Albums from {{limitStart + 1}} to {{filteredAlbums.length}}
    <button class="btn btn-primary" disabled ng-click="setPage(pageNumber + 1)">Next</button></p>
  </p>
  <div class="albums-cont">
    <article ng-controller="SingleAlbumController" ng-repeat="album in filteredAlbums = ( albums | filter:query)  | limitTo: 20 : limitStart" class="album-cont">
      <div class="album-section" ng-show="!showEdit">
        <h3><strong>{{album.title}}</strong></h3>
        <h3>by <strong>{{album.artist}}</strong></h3>
        <p>{{album.country}} - {{album.company}}, {{album.year}}<p>
        <p>Price: {{album.price | currency:"$"}}</p>
        <div ng-show="!showDelete">
          <img src="./img/no-image.svg" class="album-image" ng-show="!album.logoUrl">
          <img ng-src="{{album.logoUrl}}" class="album-image" ng-show="album.logoUrl">
          <button class="btn btn-danger" ng-click="showHideDeleteSection()">Delete</button>
          <button class="btn btn-success" ng-click="showHideEditSection(album.id)">Edit</button>
        </div>
        <div class="delete-section" ng-show="showDelete">
          <h4>Are you sure that you want to delete this album?</h4>
          <button class="btn btn-danger" ng-click="deleteAlbum(album.id)">Delete</button>
          <button class="btn btn-success" ng-click="showHideDeleteSection()">Return</button>
        </div>
      </div>
      <div class="edit-section" ng-show="showEdit">
        <h3>Edit Album</h3>
        <form class="editForm" ng-show="!showDontSave && !showSave">
          <div class="form-group row">
            <label for="title" class="col-xs-4 col-form-label">Title</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" id="title" placeholder="Enter album title" ng-model="album.title" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="artist" class="col-xs-4 col-form-label">Artist</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" id="artist" placeholder="Enter artist name" ng-model="album.artist" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="country" class="col-xs-4 col-form-label">Country</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" id="country" placeholder="Enter country name" ng-model="album.country" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="company" class="col-xs-4 col-form-label">Company</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" id="company" placeholder="Enter company name" ng-model="album.company" required>
            </div>
          </div>
         <div class="form-group row">
            <label for="price" class="col-xs-4 col-form-label">Price</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" id="price" placeholder="Enter album price" ng-model="album.price" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="year" class="col-xs-4 col-form-label">Year</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" id="year" placeholder="Enter year of release" ng-model="album.year" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="logoUrl" class="col-xs-4 col-form-label">Logo Url*</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" id="logoUrl" placeholder="Enter URL of logo" ng-model="album.logoUrl">
            </div>
          </div>
          <p>* - optional</p>
          <button class="btn btn-success" ng-click="showHideSaveSection()">Save</button>
          <button class="btn btn-danger" ng-click="showHideDontSaveSection()">Return</button>
        </form>
        <div ng-show="showDontSave" class="save-section">
          <h3>Don't save changes?</h3>
          <button class="btn btn-danger" ng-click="showHideEditSection(); showHideDontSaveSection()">Don't save</button>
          <button class="btn btn-success" ng-click="showHideDontSaveSection()">Return</button>
        </div>
        <div ng-show="showSave" class="save-section">
          <h3>Save changes?</h3>
          <button class="btn btn-danger" ng-click="editAlbum(album.id); showHideEditSection(); showHideSaveSection()">Save</button>
          <button class="btn btn-success" ng-click="showHideSaveSection()">Return</button>
        </div>
      </div>
    </article>  
  </div>
  <p ng-hide="filteredAlbums.length === 0 || lastPage">
    <button class="btn btn-primary" ng-disabled="pageNumber === 1" ng-click="setPage(pageNumber - 1)">Prev.</button>
      Albums from {{limitStart + 1}} to {{limit}}
    <button class="btn btn-primary" ng-click="setPage(pageNumber + 1)">Next</button></p>
  <p ng-hide="filteredAlbums.length === 0 || !lastPage">
    <button class="btn btn-primary" ng-click="setPage(pageNumber - 1)">Prev.</button>
      Albums from {{limitStart + 1}} to {{count.value}}
    <button class="btn btn-primary" disabled ng-click="setPage(pageNumber + 1)">Next</button></p>
  </p>
  <ul class="nav nav-pills albums-nav hidden-xs" ng-hide="filteredAlbums.length === 0">
    <li ng-repeat="page in pages" ng-click="setPage(page)" ng-class="{'active':pageNumber === page}">
      {{page}}
    </li>
  </ul>
  <h2  ng-show="filteredAlbums.length === 0">Sorry, there are no albums to show</h2>
  </div>